@charset "utf-8";
@import url('font.css');
@import url('all.min.css');

* {margin: 0;padding: 0;}
body {font:  16px 'Noto Sans KR', sans-serif;}
#wrap {width: 100%;
overflow: hidden;}

header {
    width: 100%;
    position: fixed; 
    left: 0; right: 0; top: 0;
    background: #fff;
    box-shadow: 0px 0px 8px rgba(0,0,0,.6);
    height: 120px;
    /* border-bottom: 1px solid #f4f4f4; */
    box-sizing: border-box;
    z-index: 50;
    
}

/* topArea */
.topArea {
    /* overflow: hidden; */
    position:relative;
}
.topArea .sns{
    float: left;
    position: absolute;
    top: 10px; right: 300px;
    letter-spacing: -7px;
    width: 90px;
}
.topArea .sns  li {
    position: relative;
    display: inline-block; 
    transition: all 0.2s;
    }
.topArea .sns  ul > li:hover{
    transform: rotate(45deg);
}
.topArea ul {
    margin-bottom: 30px;}
.topArea li img {
    display: block;
    width: 80%;
    height: auto;
}
/* //topArea */

/* #header .gnb .nav .menuArea {
    width: 70%;
    float: right;
    position: relative; */

/* logo */
nav .logo {
    transition: all 0.2s ease-out;
    transform: translate(20px, 0px);
    /* opacity: 0; */
    position: absolute;
    top: 40px; left: 300px; 
    /* opacity: 0.8; */
    transition: all 0.1s;
}
nav .logo:hover {
    transform:translateX(12px)
}

/* menu */
.menu {
    width: 100%;
    max-width: 1300px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: border-box;
}

.menuArea {
    position: relative;
    top: 39px; bottom: 6px; left: 300px;
    float: right;
    width: 70%;
    margin-right: 300px;
    text-align: center;
}
.menuArea > ul > li {
    position: relative;
    float: left;
    /* width: calc(100%/6 ); */    
}
.menuArea > ul > li > a:hover {
    background-color: transparent;
    font-weight: 700;
    color: #d06e0d;
}
.menuArea > ul > li  {
    display: block;
    text-align: center;
    height: 80px;
    line-height: 80px;
    margin: 0px 0 0;
    font-size: 13px;
    font-weight: 700;
    color: #333333;
    width: 148px;
    text-align: center;
    padding-top: 0px;
}

.menuArea ul .subMenu {
    display: none; 
    text-align: center;
    position: absolute;
    background: rgba(255,255,255,0.8);
    width: 100%;
    left: 0px;
    padding-top: 0px;
    box-sizing: border-box;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;;
}
.menuArea ul .subMenu li a:hover {
    color: #d06e0d;
    background: #ddd ;
}

.subMenu a {
    display: block;
    text-align: center;
    padding: 0px 10px;
    height: 50px;
    line-height: 50px;
    /* border: 1px solid #ddd; */
    border-width: 0 0px 0px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    font-size: 13px;
    font-weight: 500;
    color: #666;
    position: relative;
}

/* swiper */
.swiper {
    overflow: hidden;
    position: relative;        
    width: 100%;
    height: 700px;
    margin: 120px auto 0;    
}
:root {
    --swiper-theme-color: #fff;
}
.swiper .swiper-slide {    
    max-width: 100%;
    height: 100%;
    background: url(../img/mainimg01.jpg) no-repeat center/cover;
}
.swiper-wrapper .swiper-slide:nth-child(2) {
    background-image: url(../img/mainimg02.jpg);
}
.swiper-wrapper .swiper-slide:nth-child(3) {
    background-image: url(../img/mainimg03.jpg);
}
.swiper-wrapper .swiper-slide:nth-child(4) {
    background-image: url(../img/mainimg04.jpg);
}
.swiper-wrapper .swiper-slide:nth-child(5) {
    background-image: url(../img/mainimg05.jpg);
}
.swiper-wrapper .swiper-slide:nth-child(6) {
    background-image: url(../img/mainimg06.jpg);
}
/* //swiper */

/*.pickGroup*/

.container {
    position: relative;
    margin: 0 auto;
    width: 1300px;
    margin-top: 70px;
    bottom: -200px; /*animate를 위한 값 */
    opacity: 0; /*animate 를 위한 값 */
}
.container .pick {
    position: relative;
        
}
.container .pickGroup {
    width: 65%;
}
.container .pick h3{
    text-align: left;
    border-bottom: 1px solid#ddd;
    padding: 11px 5px 12px;
    margin:  0 0 10px;
    font-size: 13px;
    color: #333333;
}
.container .pick span {
    position: absolute;
    top: 9px; right: 0px;
    font-size: 12px;
    color: #555555;
}
.container .pick li {
    float: left;
    width: calc(100%/3 - 5px );
    margin-left: 5px;
}
.container .pick img {
    width: 100%;
    height: auto;
}


.pick > ul li img:hover {opacity: 0.7;}

/* .noticeGroup*/ 

.noticeGroup .notice {
    margin-top: -50px;
    float: right;
    width: 32%;
}

.noticeGroup .noticeBox {
    position: relative;
}
.noticeBox > h3 {
    font-size: 12px;
    font-weight: 400;
    border: 1px solid #ddd ;
    border-bottom: 1px solid #fff;
    border-radius: 5px;
    text-align: left;
    color: #333333;
    padding: 12px 20px;
    box-sizing: border-box;
    text-align: center;
    width: 100px;
}
.noticeGroup .noticeBox  span {
    position: absolute;
    right: 0px; bottom: 3px;
    font-size: 12px;
    color: #555555;
    border-bottom: 1px solid #ddd ;
    width: 317px;
    line-height: 39px;
    
}
.noticeGroup .noticeBox  span a {
    margin-left: 280px;
}
.notice > ul li a:hover {
    text-decoration: underline;
}


.notice  ul > li {
    padding: 3px 0;
    line-height: 35px;
    font-family: 굴림, 돋움;
    font-size: 12px;
    border-bottom: 1px dotted #ccc;
}
.notice  ul > li > span {
    float: right;
}

/* wrap issue */
.issue {
    
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
}
.is_title {
    width: 100%;
    text-align: center;
    /* margin-left: 20px; */
    overflow: hidden;
}
.wrap .is_title h3 {
   /*  position: relative; */
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #333;
    margin-bottom: 40px;
}
.issueBox {
    overflow: hidden;
    position: relative;
    margin: 0 auto;             
    width: 1240px;
}
.issueBox ul {
    overflow: hidden;
}
.issueBox ul li {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    width: 380px;
    height: 250px;
}
.issueBox ul li > a {display: block; width: 100%; height: 100%;}
.issueBox ul li:nth-child(6n)  {
    margin-right: 0;
}
.issueBox ul li {
    top: 300px;/*animate 를 위한 값 */
    overflow: hidden;
    position: relative;
    opacity: 0; /*animate 를 위한 값 */
    text-align: center;
}
.issueBox ul li .issueImg {
    position: absolute;
    top: 0; left: 0;
    
    width: 100%; height: 100%;
    
    
}
.issueBox ul li img{width: 100%;}
.issueBox ul li .textArea {
    width: 100%; height: 100%;
    position: absolute;
    left:0; bottom: -100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    /* transform: scale(0); */
    transition: all 0.5s;
}
.issueBox ul li:hover .textArea {
    opacity: 1;
    /* transform: scale(1); */
    bottom: 0;
}
.issueBox ul li .textArea h3 {
    font-size: 19px;
    font-weight: 700;
    color: #fff;
} 
.textArea p {
    margin-top: -30px;
    font-size: 11px;
    color: #fff;
} 
.textArea span{    
    box-sizing: border-box;
    width: 50px;
    padding: 5px;
    margin: 20px;
    border-radius: 5px;
    font-size: 13px; 
    background: #ffffff;
    color: #676767;
}


/* boxImg */
.boxImg {
    margin-top: 100px;
    margin-bottom: 100px;
}
.boxImg figure {
    height: 500px;
    width: 100%;
    background: url(../img/boximg.jpg)  no-repeat top/cover;
    opacity: 0; 
    position: relative;
    bottom: -100px;
}
.boxImg a:hover {opacity: 0.8;}

/* service */
.service {
    z-index: 10;
    margin: 0 auto;
}
.service .serTitle{text-align: center;}
.service .serTitle h3{
    font-size: 26px;
    font-weight: 300;
    color: rgb(102, 102, 102);
}
.service .contBox {
    width: 1300px;
    margin: 0 auto;
}
.service .contBox .row {
    margin-top: 50px;
    overflow: hidden;
}

.contBox .rowList {
    float: left;
    width: 30%;
    margin-right: 45px;
    margin-bottom: 30px;
    position: relative;
    display: block;
}
.contBox .rowList:nth-child(3n) {
    margin-right: 0px;
} 
.rowList h3{
    text-align: left;
    font-size: 13px;
    line-height: 35px;
    color: #555555;
}
.rowList .storeTitle {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
.rowList .storeTitle span {
    display: inline-block;
    position: absolute;
    top: 4px; right: 0px;
    font-size: 12px;
    color: #555555;
}
.rowList .storeTitle span a{
    color: #fff;
}
.rowList .storeList li {
    border-bottom: 1px dotted #ddd;
    line-height: 33px;
    font-size: 12px;
}
.rowList .storeList ul > li > span {
    float: right;
    font-size: 10.5px;
    color: #888888;
}
.rowList .storeList ul > li a:hover {
    text-decoration: underline;
}

.rowList .centerList span > img {
    background: #000;
    padding: 10px;
    margin: 0px 15px 0px 10px;
}
.rowList .centerList span {
    line-height: 20px;
    display: block;
    background-color:  #333;
    color: #fff;
    padding: 10px 0px;
    border-radius: 3px;
    width: 100%;
}
.rowList .centerList ul{
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    line-height: 25px;
    font-size: 13px;
}
/* giftList */

.giftList {
    width: 100%;
    position: relative;
    overflow: hidden;
    
}
.giftList .con-txt {
    height: 205px;
    text-align: center;    
}


.giftList .bottomImg .con1{
    background-image: url(../img/de15_img01.jpg);
    background-size: cover;
    background-position: center;
    vertical-align: middle;
    width: 100%;
    position: relative;
    border: 5px solid #fff;
}
.giftList .bottomImg .con2{
    background-image: url(../img/de15_img02.jpg);
    background-size: cover;
    background-position: center;
    vertical-align: middle;
    position: relative;
    border: 5px solid #fff;
    width: 100%;
    
}
.giftList .bottomImg .con3{
    background-image: url(../img/de15_img03.jpg);
    background-size: cover;
    background-position: center;
    vertical-align: middle;
    width: 100%;
    position: relative;
    border: 5px solid #fff;
    margin-top: -5px;
}
.giftList .bottomImg .con4{
    background-image: url(../img/de15_img04.jpg);
    background-size: cover;
    background-position: center;
    vertical-align: middle;
    position: relative;
    border: 5px solid #fff;
    width: 100%;
    margin-top: -5px;
}
.giftList .b-imgB0x1 {
    float: left;
    width: 33.3%;
}
.giftList .b-imgB0x2 {
    float: left;
    width: 66%;
}
.giftList .b-imgB0x3 {
    float: left;
    width: 75%;
}
.giftList .b-imgB0x4 {
    float: left;
    width: 24.3%;
}
.giftList .conts {
    margin-top: 50px;
    text-align: center;
}
.giftList .bottomImg > span {
    position: absolute;
}
.giftList .bottomImg  {
    position: relative;
    opacity: 0;
    bottom: -100px;
}

.giftList .bottomImg a{
    margin-top: 60px;
    display: inline-block;
    line-height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    padding: 15px;
    transition: all 0.2s;
}
.giftList .moving:hover a{
    padding: 20px;
}
.con-txt:hover {
    background: rgba(0,0,0,0.3);
}



/* footer */

footer {
    background-color: #eeeeee;
    margin-top: 50px;
    width: 100%;
    overflow: hidden;
    z-index: 100;
}
.sec01 {
    background-color: #ddd;
}
.sec01 .conLast {
    overflow: hidden;
    margin: 0px auto 30px;
    padding: 15px 0;
    margin-left: 300px;
    

} 
.sec01 .conLast ul {
    text-align: left;
}

.sec01 .conLast ul li{
    
    float: left;
    padding-right: 20px;
}
.sec01 .conLast ul li a{
    font-size: 11.5px;
    font-weight: 400;
    color: #666;
    display: block;
    padding: 5px 0;
    position: relative;
}
.sec01 .conLast ul li a:after {
    content: '';
    position: absolute;
    top: 11px; right: -11px;
    width: 1px;
    height: 6px;
    background-color: #666;
}
.sec01 .conLast ul li:last-child a:after {
    display: none; /* 가상선택자 없애기 */
}
.secList ul li{
    font-size: 11.3px;
    line-height: 22px;
    color: #333;    
}
.secList {
    margin-left: 300px;
}
.secList ul .last {
    background-color: #666;
    display: inline-block;
    border-radius: 2px;
    padding: 5px 10px;
    color: #eee;
    line-height: 120%;
}
.sec02 {
    overflow: hidden;
    padding: 0 0 50px 0;
}
.sec02 .quick-Link {
    float: right;
}
.sec02 .quick-Link h3{
    font-size: 13px;
    font-weight: 500;
    color: #222;
    margin-bottom: 5px;
}

.sec02 select {
    width: 100%;    
    padding: 10px 3px;
    border: 1px solid #ccc;
}
.sec02 select:focus {
    border: 1px solid #cdcdcd;
}
.link-Box .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
select > option {
    font-weight: normal;
    display: block;    
}
.quick-Link {
    margin-top: -110px;
    margin-right: 300px;
}

/* .top-btn  */
.btnTop {
    position: fixed;
    bottom: 50px; right: 40px;
    border-radius: 50px;
    width: 40px; height: 40px;
    text-align: center;
    vertical-align: middle;
    background: #585858;
    color: white;
    opacity: 0.7;
    z-index: index;
    /* display: none; */
}
.btnTop:hover {opacity: 1;}

/* company */

.su_topImg {
    width: 100%;
    margin: 0 auto;
    /* background-color: #fff; */
    position: relative;
}  
.su_topImg .su_con{
    width: 100%;
    height: 250px;
    background: url(../img/de00_img01.jpg) no-repeat center center/cover;
    position: relative;
    top:0; left: 0;
    margin-top: 110px;
    
}
.su_con p{
    position: absolute;
    top: 110px; right: 300px;
    font-size: 14px;
    color: rgba(255,255,255,0.4);
}
/* suTab_container*/
.suTab_wrap {
    width: 1300px;
    margin: 0 auto;
    
}
.suTab_container {text-align: left;
    /* min-width: 1300px; */
    
}
.suTab_container h2 {
    width: 30%;
    height: 50px;
    line-height: 50px;
    float: left;
    font-size: 14.625px;
    color: #fff;
    font-weight: 700;
    background: #333;
   /*  overflow: hidden; */
   
}
.su_tab {
    width: 800px;
    text-align: center;

    /* padding: 0 0 10px; */
    overflow: hidden;}
.su_tab ul {
    display: flex;
    width: 60%;
    border: none;
    overflow: hidden;
}
 .su_tab li {
    flex:1;
    width: 100%;
    margin: 0 0 0 -1px; 
    position: relative;
    border: 1px solid #d2d2d2;
    box-sizing: border-box;
    
} 
.su_tab ul li a {
    width: 100%;
    height: 48px;
    line-height: 50px;
    border-width: 1px 1px 1px 0px;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    font-size: 11.375px;
    color: #111;
    
}
.su_tab ul li:hover a{
    background: #d4d4d4;
    font-weight: 700px;
}
/* 탭메뉴 공통 */

.su_tab ul li.on li {background: #fff;}
.su_tabMenu {
    /* line-height: 260px;
    background: #f5f5f5;
    text-align: center;
    font-size: 40px; */
    display: none;
}
.su_tabMenu.on {display: block;}



/* su_tabMenu 회사소개*/
.su_tit_page:before{
    content: '';
    position: absolute;
    top: 0px; left: 0px;
    width: 30px;
    height: 3px;
    background-color: #000;
    
}
.su_tit_page {
    margin-top: 30px;
    padding: 10px 0;
    /* line-height: 30px; */
    position: relative;
   
}
.su_tabTitle {
    width: 100%;
    text-align: left;
    background-color: #fff;
    margin-top: 0px
}


.su_page_list {
    overflow: hidden;
    
    border-top: 1px dotted #aaa;

}
.su_tit_page h3 {
    font-size: 26px;
    font-weight: 100;
    line-height: 60px;
}
.su_txtArea h3 {
    /* -webkit-transition: all 0.2s ease-out; */
    transition: all 0.2s ease-out;
    font-weight: 400;
    font-size: 26px;
    color: #666;
}
.su_page_list:hover .su_txtArea h3{
    padding: 0px 0px 0px 5px;
    color: #000;
}
 .su_page_list img {
     height: auto; /* transition: all 0.4s; */
     transition: all 0.2s ease-out;
    /* -webkit-transition: all 0.2s ease-out;
    
    -webkit-transform: scale(1.0);
    /* transform: scale(1.0); */
    width: 100%; 
}
.su_page_list:hover .su_imgArea img {
    transform: scale(1.05)
    /* transition: all 0.3s; */
}


.su_txtArea {
    margin-top: 40px;
}
.su_txtArea p {
    padding: 10px 0;
    font-size: 14px;
    font-weight: 300;
    color:#666666;
    line-height: 1.4;
}


/* su_tabMenu 회사연혁*/
.sub_sec dl dt {
    font-size: 28px;
    color: #222;
    font-weight: 700;
    margin: 10px 0;
}
.sub_sec span{
    font-weight: 400;
    letter-spacing: 3px;
    color: #fff;
    margin-right: 10px;
    background-color: #888;
    padding: 5px 10px 5px 15px;
    border-radius: 2px;
    
    transition: all 0.2s ease-out
}
.sub_sec dl dd {
    font-size: 14px;
    padding: 7px 0;
    cursor: pointer;
}
.sub_sec dl dd:hover span {
    padding: 5px 10px 5px 35px;
    background-color: #111;
}
.sub_sec p { 
    font-size: 14px;
    padding: 10px 0;
}
/*  //회사연혁*/

/* 계열사 */

.su_titlePage h1 {
    font-size: 32.5px;
    color: #000;
    margin: 50px 0 20px;
}

/* tab 계열사 안에 탭메뉴 수정해야함*/
.tab {
    width: 100%;
    padding: 33px 0 0px;
    }
.tab ul {
    width: 850px;
    display: flex; 
    border-bottom: 1px solid #474747;
    /* height: 47px; */
}
.tab ul li {flex: 1;  border: 1px solid #d7d7d7;}
.tab ul li button {
    width: 100%; 
    background: #f9f9f9;
    padding: 10px 12px;
    font-size: 13px;
   
}

.tab ul li.on button:hover {
    z-index: 2;
    /* height: 46px; */
    border-color: #474747;
    border-bottom: 1px solid #ffffff; 
}
.tab ul li.on button {
    background: #fff;}

.tab_content.on {display: block;}
.su_titlePage .titlePage_1 {
    font-weight: 100;
    color: #555555;
    font-size: 22.75px;}
.titlePage_2 {
    font-size: 13px;
    color: #333333;
    margin-top: 20px;
}
/* .imgArea  {
    margin-top: 40px;
    padding: 20px;
    
    box-sizing: border-box;
} */

/* titlePageImg */
.titlePageImg {
    margin: 0 auto;
    margin-left: -15px;
}
.titlePageImg .imgArea1 li {
    float: left;
    margin: 15px 14px;
} 
.titlePageImg li img {
    display: block;
    width: 300px;
}


.imgAreaSite {position: relative;}
.imgAreaSite .description {
    width: 100%; height: 100%;
    position: absolute;
    left: 0; top: 0;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
}
.description p {
    background-color: #000;
    position: relative;
    top: 45%;
    color: #fff;
    padding: 10px 0;
    font-size: 11.375px;
    font-weight: 900;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.5);
    transition: all 0.5s ease-out;}

.imgArea1 .imgAreaSite a:hover .description{
    opacity: 1;
    transition: all 0.5s;
    background: rgba(0,0,0,0.5);}
.overview .description{opacity: 0;}
table {
    width: 100% ;
    margin: 20px auto;
    font-size: 14px;
    color: #555;
    border-top: 3px solid #96a9ba;
    }
   
table tr{
    border-bottom: 1px solid #ccc;
}
table th, table td{
    padding: 20px ;
}
table th{
    width: 277px;
    background-color: #f0f0f0;
    text-align: center;
    vertical-align: middle;
    word-break: break-all;
}
table td {
    word-break: break-all;
    text-align: left;
    font-weight: 700;
    font-size: 13px;
}

/* 오시는길 */
.su_mapGoogle iframe {
    width: 100%;
    height: 600px;
    border: none;
}
.su_mapList {
    width: 100%;
    margin-top: 30px;
}
.su_mapList dl:nth-child(1), .su_mapList dl:nth-child(3){
    margin-right: 37px;
}
.su_mapList dl {
   width: 630px;
   float: left;
   margin-bottom: 30px;
}
.su_mapList dl dt {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; 
    padding: 10px 10px 10px 20px;
    background-color: #aaa;
    border-radius: 2px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 700;
    display: block;
    color: #fff;
}
.su_mapList dl:hover dt{
    padding: 10px 10px 10px 30px;
    background-color: #111;
}

.su_mapList dl dd {
    font-size: 13px;
    font-weight: 400;
}
.su_mapList  dl dd {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
}

/* product.html */
.su_topImg .su_pro{
    width: 100%;
    height: 250px;
    background: url(../img/promainImg.jpg) no-repeat center center/cover;
    position: relative;
    top:0; left: 0;
    margin-top: 110px;
}
.su_pro p{
    position: absolute;
    top: 110px; right: 300px;
    font-size: 14px;
    color: rgba(255,255,255,0.4);
}
.su_tabPro {
    width: 1130px;
    text-align: center;
    overflow: hidden;}
.su_tit_page2 h3 {
        font-size: 26px;
        font-weight: 100;
        line-height: 60px;}

.su_tit_page2 ul li {
    float: left;
    width: calc(100%/4 - 7px);
    margin-left: 7px;
    padding-bottom: 50px;
}
.su_tit_page2 ul li img {
    width: 100%;
    height: auto;
}
.su_tit_page2 ul li:hover img {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    opacity: 0.8;
}


.su_tit_page2 ul li p {
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    color: #555555;    
}
.page {width: 100%; text-align: center;}
.page ul{margin-left: 620px;}
.page ul li {
   /*  width:60px; */
    float: left;
    margin-left: 5px;
   /*  text-align: center;  */
    }
.page button {
    /* display: inline-block; */
    border: 1px solid #ddd;
    background: #fbf4f4;
    border-radius: 2px;
    padding: 3px 8px;
    color: #888;   
}
#desc {
    padding: 50px 0px;
}

#desc select {
    width: 80px;
    height: 32px;
    border: 1px solid #ddd;
    font-size: 13px;
    color: #555;
    margin: 1px 0;
}

#desc input {
    width: 150px;
    height: 30px;
    
    border: 1px solid #ddd;
    margin: 1px 0;
    }
#inputBox input {
    border: none;
    margin: 1px 0;
    width: 50px;
    height: 32px;
}
#desc ul li {float: left;}

.su_tit_page2:before{
    content: '';
    position: absolute;
    top: 0px; left: 0px;
    width: 30px;
    height: 3px;
    background-color: #000;
    
}
.su_tit_page2 {
    margin-top: 30px;
    padding: 10px 0;
    /* line-height: 30px; */
    position: relative;
   
}












